<section id="menu" class="downloads">
  <nav><a href="https://gitlab.com/edge226/testwebsite" class="top-btn" target="_blank">View code on GitLab</a><a href="https://gitlab.com/edge226/testwebsite/tree/pages" class="top-btn" target="_blank">View website on GitLab</a></nav>
</section>
