<script type="text/javascript">
var url = window.location.href;
var match = url.match(/access_token=(\S+)&scope=(\S+)/);
document.getElementById('oauth_token').innerHTML = 'OAUTH Token: ' + match[1];
document.getElementById('scope').innerHTML = 'Scope: ' + match[2];
</script>
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-57374614-1");
    pageTracker._trackPageview();
  } catch (err) {}
</script>
