<section class="sidebar">
  <nav class="menu">
    <ul class="tree">
      <li>
        <label for="menu_heading1" class="menu-heading">Orb OS</label>
        <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading1">
        <ul class="subtree">
          <li><a href="http://orbos.gitlab.io/" class="menu-entry">Orb OS Main</a></li>
          <li><a href="http://orbos.gitlab.io/dev-tools" class="menu-entry">dev-tools</a></li>
          <li><a href="http://orbos.gitlab.io/linuxclusterfsck" class="menu-entry">Linuxclusterfsck</a></li>
          <li><a href="http://orbos.gitlab.io/philosophies/index.html" class="menu-entry">Philosophy</a></li>
          <li><a href="http://orbos.gitlab.io/milestones/index.html" class="menu-entry">Milestones</a></li>
          <li><a href="http://orbos.gitlab.io/sb/index.html" class="menu-entry">Support/Bugs</a></li>
        </ul>
        <li>
          <label for="menu_heading2" class="menu-heading">Developers</label>
          <input type="checkbox" class="menu-heading-box" checked="" disabled="" id="menu_heading2">
          <ul class="subtree">
            <li>
              <label for="menu_subheading1" class="menu-subheading">Founders</label>
              <input type="checkbox" class="menu-heading-box" id="menu_subheading1">
              <ul class="subtree">
                <li><a href="http://edge226.gitlab.io/" class="menu-entry">Edge226</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </li>
    </ul>
  </nav>
</section>